@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

.title {
    /* H3 - Header 3 */
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;

    /* or 120% */
    display: flex;
    align-items: center;

    color: rgba(0, 0, 0, 0.85);
}

.text {
    /* @font-size-sm: 12px */
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    margin-bottom: 15px;

    /* or 183% */
    display: flex;
    align-items: center;

    /* @text-color */
    color: rgba(0, 0, 0, 0.65);
}

.label {
    /* @font-size-sm: 12px */
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.65);
}

.form {
    margin-top: 10%;
}